.fileupload {
  margin-bottom: 0px;
}

.fileupload .uneditable-input {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  cursor: text;
}

.fileupload .thumbnail {
  display: inline-block;
  margin-bottom: 5px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}

.fileupload .thumbnail > img {
  display: inline-block;
  max-height: 100%;
  vertical-align: middle;
}

.fileupload .btn {
  vertical-align: middle;
}

.fileupload-exists .fileupload-new,
.fileupload-new .fileupload-exists {
  display: none;
}

.fileupload-inline .fileupload-controls {
  display: inline;
}

.fileupload-new .input-append .btn-file {
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}

.thumbnail-borderless .thumbnail {
  padding: 0;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.fileupload-new.thumbnail-borderless .thumbnail {
  border: 1px solid #ddd;
}

.control-group.warning .fileupload .uneditable-input {
  color: #a47e3c;
  border-color: #a47e3c;
}

.control-group.warning .fileupload .fileupload-preview {
  color: #a47e3c;
}

.control-group.warning .fileupload .thumbnail {
  border-color: #a47e3c;
}

.control-group.error .fileupload .uneditable-input {
  color: #b94a48;
  border-color: #b94a48;
}

.control-group.error .fileupload .fileupload-preview {
  color: #b94a48;
}

.control-group.error .fileupload .thumbnail {
  border-color: #b94a48;
}

.control-group.success .fileupload .uneditable-input {
  color: #468847;
  border-color: #468847;
}

.control-group.success .fileupload .fileupload-preview {
  color: #468847;
}

.control-group.success .fileupload .thumbnail {
  border-color: #468847;
}


.btn-file {
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  padding: 4px 8px;
  border: 1px solid #ccc;
}

.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  font-size: 23px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  direction: ltr;
}
/* End of Image Uplode */

/* Ravi Css */

.front-header .navbar-inner .nav-collapse > ul {
float: right;
	margin-top: 20px;
    margin-right: 0;
    margin-bottom: -79px;
    margin-left: -15px;
}

.navbar .btn, .navbar .btn-group {
	margin-right: 10px;
	margin-top: -120px;
}
.navbar1 .btn, .navbar .btn-group {
	margin-right: 10px;
}



/*.input-append {
	margin-top: -41px;
	margin-left: -70px;
}
*/
.input-append1 {
	margin-top: -25px;
	margin-left: -70px;
}

.nav-collapse collapse .nav li{
	margin-top: -50px;
}

.front-header .navbar-inner .nav-collapse > ul {
	float: right;
    margin-bottom: -18px;
    margin-left: -15px;
    margin-right: 0;
	margin-top: -20px;
}

.navbar .nav {
    display: block;
    float: right;
    left: 0;
	margin: -66px 0px 0;
    position: relative;
}

.profil {
	margin-top: 40px;
}
.nav .nav-pills .nav-stacked {
	margin-left: -30px;
}
.span2 {
	margin-left:-10px;
}

.form-horizontal {
	margin-left: -55px;
}
.border {
	margin-bottom: 20px;
}


h4 {
	margin: 10px 18px;
	
}

.checkbox input[type="checkbox"] {
    float: left;
    margin-left: 0 !important;
	margin-right: 10px !important;
}

.buy {
	margin-top: 27px !important;
	margin-left: -27px !important;
}
	
	
	

/*.tp-simpleresponsive .caption,
.tp-simpleresponsive .tp-caption {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";	-moz-opacity: 0;	-khtml-opacity: 0;	opacity: 0; position:absolute; visibility: hidden;
	
	color: #C30;
	font-size:60px;
	font-weight: bold;

}
*/
/*.slide_subtitle {
	background-color: #000000 !important;
}


.slide_subtitle {
	font-family: 'Open Sans';
	font-weight: 400;
	background-color: #0088cc;
	padding: 5px;
	color:#fafafa;
	text-transform: uppercase;
	font-size:50px;
}
*/


/* End Of Ravi Css */

/* Vik Css */
.active1 a {
	background:#FFF;
	color:#333 !important;
}
.loginhead {
	padding-left:5%;
}
.loginnav{
padding: 20px 16px 0px !important;
}
.login-nav ul{
	padding:0 14px !important;
}
/* End Of Vikas Css */
.search{
 margin-bottom:0px !important;
}
