@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'avantgarde_bk_btbook';
    src: url('fonts/avgardn.eot');
    src: url('fonts/avgardn.eot?#iefix') format('embedded-opentype'),
         url('fonts/avgardn.woff') format('woff'),
         url('fonts/avgardn.ttf') format('truetype'),
         url('fonts/avgardn.svg#avantgarde_bk_btbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: '28_days_laterregular';
    src: url('fonts/28_days_later.eot');
    src: url('fonts/28_days_later.eot?#iefix') format('embedded-opentype'),
         url('fonts/28_days_later.woff') format('woff'),
         url('fonts/28_days_later.ttf') format('truetype'),
         url('fonts/28_days_later.svg#28_days_laterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'plane_crashregular';
    src: url('plane_crash.eot');
    src: url('plane_crash.eot?#iefix') format('embedded-opentype'),
         url('plane_crash.woff') format('woff'),
         url('plane_crash.ttf') format('truetype'),
         url('plane_crash.svg#plane_crashregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

td{ font-family: '28_days_laterregular'; color:#FFFFFF; font-size:22px;}
td a{ font-family: '28_days_laterregular'; color:#FFFFFF; font-size:22px;}
tr.tb_dt:hover{ background-color:#262626;}
tr.tb_hd:hover{ background-color:none!important;}

* { border:none;}
a img { border:none;}
ul{list-style:none; padding:0px; margin:0px}
a { text-decoration:none; font-family: 'avantgarde_bk_btbook'; color: #FFFFFF;}
label{color: #FFFFFF;}
body { padding:0px; margin:0px; background:url(../img/images/bd_bg.png) top center #000; background-repeat:no-repeat; color: #fff }
p{font-family: Arial, Helvetica, sans-serif;font-size: 12px; line-height:14px}
.node-body ul {font-family: Arial, Helvetica, sans-serif;font-size: 12px; line-height:14px}
.main { width:992px; height:auto; margin:auto;  }
.contain { width:992px; height:auto; float:left; }
.header { width:100%; height:auto; float:left; /*background:#131313; border-bottom:4px solid #393939;*/  }
.hd_logo{ width:158px; height:181px; float:left; margin:20px 0px 10px 10px;}
.hd_rght { width:82%; float:right; height:auto;  }
.hd_soc { width:auto; height:auto; float:right; margin: 25px 10px 10px 10px; }
.hd_soc li { width:auto; height:auto; float:left; margin:0px 5px 0px 5px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#fff; }
.soc_txt { margin:20px 0px 0px 0px; float:left;}
/*.hd_tag_txt { width:538px; height:40px; float:right; margin:25px 10px 10px 10px;}*/
.hd_tag_txt { width:538px; height:40px; float:right; margin:25px 10px 10px 10px; font-family: '28_days_laterregular';font-size:45px; line-height:48px; color:#fff;}
.nav { width:100%; height:40px; float:left; background:url(../img/images/nav_bg.png); background-repeat:repeat-x; margin:10px 0px 0px 0px;  }
.nav li { width:auto; height:40px; float:left; padding:0px 6px 0px 8px; }
.nav li a {width:auto; line-height:40px; float:left;font-size:13px; color:#fff; text-decoration:none; font-family: 'avantgarde_bk_btbook'; font-weight:bold;text-transform: uppercase}
.nav li a:hover { color:#00a2ff;}
.mid_tp { width:100%; height:auto; float:left;  margin:15px 0px 0px 0px;  }
.mid_slid { width:100%; height:auto; float:left; }
.slid { width:730px; height:auto; float:left; border:2px solid #fff; }
.mid_frm { width:245px; float:right;  min-height:300px; background:url(../img/images/frm_bg.png) #000; background-repeat:repeat-y; }
.frm_hd { width:100%; float:left; margin:12px 0px 8px 0px; text-indent:15px; color:#00a2ff; font-family: '28_days_laterregular'; font-size:22px; }
.frm_sec { width:100%; height:auto; float:left; margin-bottom:10px; }
.frm_tbox input[type='text'] { width:85%; height:26px; float:left; background:#fff; margin:10px 0px 5px 15px; font-family:Arial, Helvetica, sans-serif; color:#7c7c7c; font-size:12px; font-style:italic; padding-left:4px; }
.frm_pbox input[type='password'] { width:85%; height:26px; float:left; background:#fff; margin:10px 0px 5px 15px; font-family:Arial, Helvetica, sans-serif; color:#7c7c7c; font-size:12px; font-style:italic;  padding-left:4px; }
.frm_btn { width:70px; height:29px; float:left; margin:10px 0px 5px 15px; background:url(../img/images/btn_bg.png); background-repeat:repeat-x; font-family:Arial, Helvetica, sans-serif;   text-align:center; line-height:29px;}
.frm_btn a { color:#fff; font-size:14px; }
.sld_cnt { width:88%; height:auto; padding:8% 6% 8% 6%; border-left:2px solid #272727; color:#fff; font-family: '28_days_laterregular';font-size:20px;  line-height:27px; float:left; margin-top:3px;}
.cnt_sub { width:100%; float:left; color:#0076ad; font-family: '28_days_laterregular'; font-size:18px; line-height:24px; }
.middle { width:100%; height:auto; float:left;  margin:15px 0px 0px 0px;  }
.newz_sec { width:100%; height:auto; float:left; }
.mid_new { width:315px; height:226px; float:left; margin:10px 21px 10px 0px; }
.new_imga{ width:100%; height:226px; float:left; }
.new_titl{ width:100%; height:auto; float:left; background:url(../img/images/titl_bg.png); background-repeat:no-repeat;  font-family: '28_days_laterregular';font-size:20px;  line-height:40px; text-indent:15px; }
.new_titl a { color:#00A2FF; text-decoration:none; float: left; font-family: 'avantgarde_bk_btbook'; font-size: 13px; font-weight: bold; line-height: 40px; text-decoration: none; width: auto;}
.mid_new:last-child { margin:10px 0px 10px 0px;}
.mid_soca {width:315px; height:214px; float:left; margin:10px 21px 10px 0px; background:url(../img/images/soc_bga.png); background-repeat:no-repeat; }
.mid_socb {width:315px; height:214px; float:left; margin:10px 21px 10px 0px; background:url(../img/images/soc_bgb.png); background-repeat:no-repeat; }
.mid_socc {width:315px; height:214px; float:left; margin:10px 0px 10px 0px; background:url(../img/images/soc_bgc.png); background-repeat:no-repeat; }
.mid_soctxt { width:96%; padding:2%;float:left; font-family: '28_days_laterregular';font-size:48px;  line-height:48px; color:#fff; text-align:center; }
.mid_soctxt span { color:#00a2ff; width:100%; float:left; text-align:center; }
.mid_soc_icon{ width:84%; height:auto; float:left; padding:8% 8% 2% 8% ;}
.mid_soc_icon a{float: left}
.footer { width:100%; height:auto; float:left; background:#131313; border-top:4px solid #393939; margin-top:15px; padding:8px 0px 8px 0px;  }
.footer1 { width:100%; height:auto; float:left; background:#131313; border-top:4px solid #393939; margin-top:97px;  }
.foot_sec { width:23%; height:auto; float:left; padding:1%; margin-right: -3px; }
.foot_lgo { width:100%; height:auto; float:left; text-align:center; margin-top:20px;}
.foot_hd { color: #FFFFFF; float: left; font-family: 'avantgarde_bk_btbook'; font-size: 13px; font-weight: bold; line-height: 40px; text-decoration: none; text-transform: uppercase; width: auto; }
.foot_link { width:100%; height:auto; float:left;  margin:20px 0px 2px 0px;   }
.foot_link li {width:100%;float:left;color:#939393;font-family:Arial, Helvetica, sans-serif;font-size:12px;border-bottom:1px solid #939393;line-height:28px;}
.foot_link li a { width:95%; float:right; font-size:12px; color:#939393; text-decoration:none;  }
.foot_link li a:hover { color:#fff; }
.tst_sec { width:92%; height:auto; float:left; background:#333333; border-radius:5px; padding:6% 4% 6% 4%; margin:30px 0px 0px 0px; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; color:#b5b5b5;}
.tst_sec a { color:#e4e4e4;}
.tst_usr { width:100%; height:auto; float:left; }
.tst_usr_img { width:16px; height:32px; float:left; margin:0px 0px 0px 20px; }
.tst_usr_txt { width:auto; float:left; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#b5b5b5; font-style:italic; margin:18px 0px 0px 8px; }
.cont_txt  { width:100%; height:auto; float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#b5b5b5; margin:20px 0px 0px 0px;}
.cont_txt p { margin:0px; padding:0px; font-size: 12px;}
.foot_bt { width:98%; height:auto; float:left;  margin:2px 1% 2px 1%; border-top:1px solid #393939; padding:10px 0px 5px 0px;  }
.footer1 foot_bt1 { width:98%; height:auto; float:left;  margin:2px 1% 2px 1%; padding:10px 0px 5px 0px;  } 
.foot_menu { width:79%; height:auto; float:left;  margin:2px 0px 2px 0px;   }
.foot_menu li { width:auto; float:left;  color:#939393; font-family:Arial, Helvetica, sans-serif; font-size:12px; }
.foot_menu li a { color: #CECECE;
    float: left;
    font-size: 12px;
    padding: 0 1px;
    text-decoration: none;
    text-transform: uppercase;
    width: auto; }
.foot_menu li a:hover { color:#00a2ff;}
.foot_cp { width:auto; float:right;  color:#cecece; font-family:Arial, Helvetica, sans-serif; font-size:12px; }
.cnt_frm_btn { right:0px; top:250px; position:absolute; z-index:999;}
.form-part{ width: 60%;float: left;}
.note-part{width: 310px; float: right; color: #fff; font-family:'28_days_laterregular'; font-size: 15px; margin-left: 15px; padding-right:10px; }
#TeamregistrationCountry option[disabled="disabled"]{color:#00a2ff;}
.hd_login{float:right; margin: 40px 0px 10px 10px; }
.hd_login a{line-height: 20px; font-family:Arial, Helvetica, sans-serif; font-size: 12px; border-right: 1px solid #fff; padding-right: 10px;}
.hd_login a.buttn{ float:left; font-size:12.2px; color:#ffffff; font-family:Arial, Helvetica, sans-serif; background-image:url(../img/images/btn_bg.png); height:28px; width:96px; cursor:pointer; border-radius:4px;text-align: center; line-height: 28px; border:1px solid #0d628f;}
.hd_login a.buttn:hover { border:1px solid #0d578f;  background-image:url(../img/images/btn_bghv.png); }
.restr_contnt{ background:rgb(41, 41, 41); background:rgba(41, 41, 41, 0.8); width:100%; height:auto; float:left; border-top:4px solid #393939; margin-top:15px; padding:8px 0px 8px 0px;}
.contnt_info{ width:auto; height:auto; float:left; padding:20px 0px 0px 5px;}
.contnt_info ul { width:580px; height:auto; float:left; padding:0px 10px}
.contnt_info ul li{ width:100%; height:auto; float:left; font-family:'28_days_laterregular'; font-size:20px; color:#FFF; margin-bottom: 26px;}
.contnt_info ul li a{font-family:'28_days_laterregular'; font-size:20px;}
.contnt_info ul li input[type="text"], .contnt_info ul li input[type="password"]{ width:300px; height:40px; background:url(../img/images/input.png) no-repeat; text-indent:12px; color:#CCC; margin-left:10px; font-size:14px;float: right;margin-top: -4px;}
.contnt_info ul li select{padding:12px 7px 12px 10px; background:url(../img/images/input.png) no-repeat; color:#CCC; margin-left:10px; font-size:16px; font-family:'28_days_laterregular';}
.contnt_info ul li button{padding: 0px; background: none; cursor: pointer}
.contnt_info ul li .error-message{font-size: 15px;}
.tmrg-progress{font-family:'28_days_laterregular';font-size: 15px;background:rgb(41, 41, 41); background:rgba(41, 41, 41, 0.8);padding: 15px 0px;}
.tmrg-progress span{padding: 0px 10px;}
.tmrg-progress a{font-family:'28_days_laterregular';font-size: 15px;float: none; padding: 0 10px;}
.tmrg-progress a.active{color:#FF4B33}
.fleft{float: left}
.fright{float:right}
.closuredate{width:500px; margin-bottom: 10px;}
.lab-left{width:200px; float: left}
.lab-right{width:300px; color: #ffe600; float: left}

/**************Tournament Page***********/
.mid_main{ float:left;height:auto;width: inherit}
.dividr_a{ float:left; width:99.3%; border:3px solid #393939;}
.div_1{ float:left; width:100%; height:auto;margin:0px 0px 20px 0px;}
.div_lft{ float:left; width:49%;}
.div_titl{ float:left; text-align:left; font-size:34px; font-family:'28_days_laterregular'; color:#ffe600; width:100%; margin-top:7px; }
.subheading{text-align:left; font-size:20px; font-family:'28_days_laterregular'; color:#ffe600; font-weight: normal}
.div_mid{ float:left; width:100%; margin-top:2%; height:auto; margin-right:2px}
.testimonials .div_mid{width:310px}
.txt{ font-family:Arial, Helvetica, sans-serif; text-align:left; width:100%; font-size:11.66px; color:#ffffff; margin:10px 0px; line-height:19.3px;}
.txt p{font-size:13px;}
.txt .textboxlink{color:#00A2FF;}
.tourtxt1{ float:left; font-family:Arial, Helvetica, sans-serif; text-align:left; width:100%; font-size:11.66px; color:#ffffff; margin-bottom:7px;}
.txt2{ float:left; font-family:Arial, Helvetica, sans-serif; margin-top:15px; text-align:left; width:100%;font-size:11.66px;}
.txt2 a{ color:#00a2ff; text-decoration:underline;}
.txt2 a:hover{ text-decoration:none;}
.div_rgt{ float:right; width:49%;}
.dividr_b{ float:left; width:100%; border:1px solid #545454; margin:20px 0px 20px 0px;}
.btn_sectn{ float:left; width:100%; height:auto; margin:auto;}
.btnn{ width:246px; height:auto; margin:auto;}
.btnn a.btnn1{ float:left; background-image:url(../img/images/img3.png); width:246px; height:38px; border-radius:6px; font-size:18.93px; font-family:Arial, Helvetica, sans-serif; color:#000; font-weight:bold;line-height: 40px; text-align: center}
.div_2{ float:left; width:100%; height:auto;}
.div_titl1{ float:left; text-align:left; font-size:28px; font-family:'28_days_laterregular'; color:#ffffff; width:100%;font-weight: normal;}
.image_sec{ float:left; background-image:url(../img/images/img_bg.png); width:427px; height:222px; margin-top:10px;}
.image1{ float:left; width:404px; height:202px; margin:11px; box-shadow:1px 1px 4px #484848;}
.image1 img{height: 202px;width: 404px}
.txt_mn{ float:left; width:100%; height:auto; margin-top:20px;}

.det_sec { width:300px; min-height:175px; float:left; background:#000; margin:0px 15px 0px 0px; }
.det_titl { width:100%; height: 40px; float:left; background:url(../img/images/titl_bg.png)no-repeat; font-family:'28_days_laterregular'; color:#00a2ff; font-size:18px; line-height:40px; text-indent:15px; }
.det_titl a { color:#00a2ff; text-decoration:none; font-family:'28_days_laterregular'; font-size:18px; }
.det_txt {width:92%; height:auto; float:left; padding:4%;font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#b9b9b9; line-height:18px; min-height: 130px; }

.txtt3{ float:left; text-align:left; font-size:22px; font-family:'28_days_laterregular'; color:#FFF; margin-right:10px; margin-top:4px;}
.txt4{ float:left; text-align:left; font-size:28px; font-family:'28_days_laterregular'; color:#bbbbbb; }
.btnn2{ float:left; margin-right:20px; height:auto; margin-bottom:10px;}
.btnn2 a.btnn3{float:left; height:29px; font-size:14px; font-family:Arial, Helvetica, sans-serif; background-image:url(../img/images/btn_bg.png); border-radius:4px; cursor:pointer; color:#ffffff; line-height: 28px; text-align: center;font-weight: normal; padding:0px 10px;}
.btnn2 a.btnn3:hover{background-image:url(../img/images/btn_bghv.png);}
.div_txt{ float:left; width:100%;margin:21px 0px 21px 0px;}
.txt_lft{ float:left; text-align:left; font-size:38px;font-family:'28_days_laterregular'; color:#ffe600; width:627px; text-align:center;}
.btn_sectn2{ float:left; width:137px; height:auto; margin-left:10px;}
.btn_sectn2 .btnn4{float:left; background-image:url(../img/images/img3.png); width:137px; height:38px; border-radius:6px; font-size:18.93px; font-family:Arial, Helvetica, sans-serif; color:#000; font-weight:bold; line-height:38px; text-align:center}
.btn_sectn2 .btnn4:hover{background-image:url(../img/images/img3_hov.png);}
/****************** team page ******************/
.team_cntnt{float:left; width:100%; height:auto; margin:13px 0px 13px 0px; border-top:4px solid #393939; background-color:#292929;}

.team_hdr H1{float:left; width:100%; height:auto;font-family:'28_days_laterregular'; color: #fff; font-size:28px; margin-left:15px;}

.team_info{float:left; width:70%; height:auto;font-family:'28_days_laterregular'; color:#fff; font-size:28px; margin-top:30px;}
.team_info ul{float:left; margin-left:15px;}
.team_info ul li{width:auto; height:auto; list-style:none; text-decoration:none;font-family:'28_days_laterregular'; line-height:40PX; color:#f6a200; font-size:22px;}
 
.team_img{ float:right; width:auto; height:auto; margin:15px 30px 0px 0px; padding:6px; border:4px solid #545454; }

.team_dtls{float:left; width:97.5%; height:auto; padding:20px 12px;}
.team_dtls table td {
    border-bottom: 1px dashed white;
}
.team_dtls_txt{float:left; width:16%; height:400px; border-right:4px solid #393939;}
.team_dtls_txt ul{float:left; width:100%; }
.team_dtls_txt ul li{float:left; width:100%; height:auto; list-style:none; text-decoration:none;font-family:'28_days_laterregular';line-height:40PX; color:#d4d4d4; font-size:22px; text-align:center;}

.team_dtls_txt2{float:left; width:18%; height:400px; border-right:4px solid #393939;}
.team_dtls_txt2 ul{float:left; width:100%; }
.team_dtls_txt2 ul li{float:left; width:100%; height:auto; list-style:none; text-decoration:none;font-family:'28_days_laterregular';line-height:40PX; color:#d4d4d4; font-size:22px; text-align:center;}

.team_dtls_txt3{float:left; width:25%; height:400px; border-right:4px solid #393939;}
.team_dtls_txt3 ul{float:left; width:100%; }
.team_dtls_txt3 ul li{float:left; width:100%; height:auto; list-style:none; text-decoration:none;font-family:'28_days_laterregular';line-height:40PX; color:#d4d4d4; font-size:22px; text-align:center;}

.team_dtls_txt4{float:left; width:18%; height:400px; border-right:4px solid #393939;}
.team_dtls_txt4 ul{float:left; width:100%; }
.team_dtls_txt4 ul li{float:left; width:100%; height:auto; list-style:none; text-decoration:none;font-family:'28_days_laterregular';line-height:40PX; color:#d4d4d4; font-size:22px; text-align:center;}

.team_dtls_txt5{float:left; width:18%; height:400px;}
.team_dtls_txt5 ul{float:left; width:100%; }
.team_dtls_txt5 ul li{float:left; width:100%; height:auto; list-style:none; text-decoration:none;font-family:'28_days_laterregular';line-height:40PX; color:#d4d4d4; font-size:22px; text-align:center;}
.team_ftr a{height:auto; text-align:right; font-family:'28_days_laterregular'; font-size:20px; color:#882b2b; margin:10px 0px;} 
.team_ftr .seprator{font-family:'28_days_laterregular'; font-size:20px; color:#882b2b; margin:0px;} 

/**************Temp5 Page***********/
.body_img{ width:100%; height:100%; position:absolute; margin:auto; z-index:-99999;}
.body_img img { width:100%;}
.main_2{ width:1275px; height:auto; margin:auto;}
.sectn1{ float:left; width:100%; margin-top:20px; height:auto;}
.logo_sectn{ float:left; width:100%; height:auto;}
.logo3{width:153px; margin:auto; height:auto;}
.sectn_b{ float:left; width:100%; height:auto; margin-top:15px;}
.sectn_b1{ width:598px;height:auto; margin:auto;}
.lft_dividr{ float:left; width:125px; margin-top:21px; border:1px solid #e4e0dd; height:4px; background-color:#1976bc;}
.bott_dividr{ float:left; width:240px; margin-top:10px; border:1px solid #e4e0dd; height:4px; background-color:#1976bc;}
.txt_mid{ float:left; text-align:left; font-size:45.23px; color:#ffffff;font-family:'28_days_laterregular'; margin:0px 9px 0px 9px; 
 text-shadow: -4px 0 black, 0 5px black, 5px 0 black, 0 -3px black;
}
.txt_mid2 a { float:left; width:auto;}
.txt_mid1{ float:left; text-align:center; width:100%; font-size:45.23px; color:#ffffff;font-family:'28_days_laterregular';/* margin:0px 9px 0px 9px; */ text-shadow: -4px 0 black, 0 5px black, 5px 0 black, 0 -3px black;}
.txt_mid2{ float:left; width:100%; margin-top:5px; text-align:center;}
.btm_dividr{float:left; width:598px; margin-top:6px; border:1px solid #e4e0dd; height:4px; background-color:#1976bc;}
.sectn_c{float:left; width:100%; height:auto; margin-top:25px; margin-bottom:20px; }
.block_1{ float:left; margin-right:25px; background-image:url(../img/images/image_bg.png); width:23%; background-size:100%; height:368px;}
.sectn_c .block_1:last-child{ margin-right:0px!important;}
.blck_a{ float:left; width:259px; margin:6px 16px 7px 16px;}
.blck_lft{ float:left; width:105px; height:auto;min-height:148px}
.blck_txt{ float:left; text-align:left; color:#1976bc; font-size:99px;font-family:'28_days_laterregular';}
.blck_txt2{ float:left; border-top:1px solid #000; width:100%; font-size:15px; font-family:Arial, Helvetica, sans-serif; color:#2d2d2d; text-align:center; line-height:24px;}
.blck_rgt{ float:right; width:132px; height:auto;}
.blck_txt3{ float:left; margin-top:14px; text-align:center; font-size:23.62px; font-family: 'helvetica_ce_55_romanbold'; color:#313131; text-transform:uppercase; height: 64px}
.blck_txt3 span{font-size: 15px; float: right;}
.btunn{ float:left; width:100%; height:auto; margin-top:14px; font-size:18px; font-family: 'helvetica_ce_55_romanbold'; color:#313131; text-transform:uppercase;}
.btunn1{ margin:auto; width:96px; height:auto;}
.btunn1 a.buttn{ float:left; font-size:15.2px; color:#ffffff; font-family:Arial, Helvetica, sans-serif; margin-top: 8px; background-image:url(../img/images/btn_bg.png); height:30px; width:96px; cursor:pointer; border-radius:4px;text-align: center; line-height: 28px;}
.btunn1 a.buttn:hover { background-image:url(../img/images/btn_bghv.png); }

.btunn1 a.buttnrd{ float:left; font-size:15.2px; color:#ffffff; font-family:Arial, Helvetica, sans-serif; margin-top: 8px; background-image:url(../img/images/btn_bgrd.png); height:30px; width:96px; cursor:pointer; border-radius:4px;text-align: center; line-height: 28px; border:1px solid #0d628f;}
.btunn1 a.buttnrd:hover { border:1px solid #0d578f;  background-image:url(../img/images/btn_bghvrd.png); }

.thblck_b{ float:left; width:259px; margin:7px 16px 16px 16px;}
.blck_image{ float:left; width:260px; height:auto; background-color:#ffffff; border:1px solid #d4d4d4;box-shadow: 2px 2px 3px #d4d4d4; margin-left: 15px;}
.closure{font-family:Arial, Helvetica, sans-serif; color: #f00; font-size: 11px; text-align: center; margin-top: 5px }
.blck_image img{ margin:3px;}
/**************Profile Page***********/
.profile_div{ float:left; margin:3%; width:94%; height:auto;}
.profile_titl{ float:left; text-align:left;font-family:'28_days_laterregular'; font-size:34px; color:#ffe600; width:100%;}
.profile_cntnt{ float:left; width:100%; margin-top:20px; height:auto;}
.profile_lft{ float:left; width:30%; height:auto;}
.image_sec1{ float:left; background-image:url(../img/images/img_bg2.png); width:261px; height:349px;}
.image2{ float:left; width:234px; height:auto; margin:13px;}
.image_sec3{ float:left; width:256px; margin-top:25px; height:auto; background-color:#666666;}
.image3{}
.image3 tr {}
.image3 tr th{border: 1px solid #FFFFFF; width:122px; }
.profile_rgt{ float:right; width:68%; margin-top:6px; height:auto;}
.logo2{ float:right; width:100px;}
.profile_lst{ float:left; width:500px; height:auto;}
.profile_lst ul{ float:left; height:auto; margin-top:20px;}
.profile_lst ul li{ float:left; height:auto; width:100%; margin-bottom:15px;}
.profile_heading{ float:left; width:100%; text-align:left;font-family:'28_days_laterregular'; font-size:30.71px; text-transform:uppercase; color:#ffffff;}
.txt_a{ float:left; width:250px; margin-right:15px;}
.txt_a1{ float:left; text-align:left; font-size:15.66px; color:#00a2ff; font-family:Arial, Helvetica, sans-serif;width:95%}
.txt_b{ float:left; text-align:left; line-height:22px; font-size:15.66px; width:230px; color:#adadad; font-family:Arial, Helvetica, sans-serif;}
.dot{ float:right;font-size:15.66px; color:#00a2ff; }
.profile_cntnt2{ float:left; width:100%; margin-top:40px; height:auto;}
.titl2{ float:left; text-align:left; font-size:30.71px; color:#FFF; text-transform:uppercase; width:97%;font-family:'28_days_laterregular'; }
.div_prfle{ float:left; background-image:url(../img/images/img6.png); width:100%; margin-top:10px;}
.dividr2{ float:left; width:100%; border:1px solid #545454; margin:34px 0px 20px 0px;}
.div_prfle1{ float:left; width:100%; height:auto;margin-top:10px;}
.div_prfle1 ul{ float:left; width:100%; height:auto;}
.div_prfle1 ul li{ float:left; width:191px; height:auto; background-color:#666666; margin-right:37px;}
.div_prfle1 ul li img{ float:left; width:191px;}
 
.div_prfle1 ul li:last-child{margin:0px;} 

/**************Tournament details Page***********/
.div_tdetail{ float:left; width:98%; height:auto; margin-top: 20px;  padding:1% 1% 8% 1%;  background:rgb(41, 41, 41); background:rgba(41, 41, 41, 0.8); border-top: 6px solid #393939;  } 
.tdetail_lft { width:70%; height:auto; float:left; }
.lft_sec { width:100%; height:auto; float:left; margin:0px 0px 15px 0px; } 
.tdetail_txt{ float:left; font-family:Arial, Helvetica, sans-serif; text-align:justify; width:100%; font-size:12px; color:#ffffff; margin-bottom:2%; line-height:20px;} 
.tdetail_rght { width:28%; height:auto; float:right;  } 
.tdetail_add { width:100%; height: auto; float:left; margin:15px 0px 15px 0px; } 
.tdetail_add .adtext{height:305px;background:url(../img/images/ad_img.png) no-repeat;text-align:center;padding-top:30px;color: #00a2ff;font-family: '28_days_laterregular';font-size: 18px;}
.tdetail_add .testimonialtext{text-align:center;color: #00a2ff;font-family: '28_days_laterregular';font-size: 18px;}
.tdetail_add .adtext a{font-size:13px;}
.tdetail_soc { width:100%; height: auto; float:left; margin:15px 0px 15px 0px; }

/**************Video Page***********/
 .div_left{ float:left; width:33%; height: 665px;}
 #ltsnews .div_left{ float:left; width:48%; height:auto}
 .div_heading{ float:left; width:100%; font-size:34px; font-family:'28_days_laterregular'; text-align:left; color:#ffffff; text-transform:uppercase; font-weight: normal}
 .selct_sec{ float:left; width:100%; margin-top:20px;height:auto;}
 .selct{ float:left; width:250px; height:auto;}
 .selct select{ float:left; font-size:17px; width:230px; background-color:#858585; padding:4px; height:30px; font-family:Arial, Helvetica, sans-serif; color:#FFF; text-indent:10px; border:1px solid #777777;}
 .image_sectn{ float:left; /*background-image:url(../img/images/video_1.png);*/ width:436px; /*height:272px;*/ margin-top:10px;}
.image_sectn_1{ float:left; /*background-image:url(../img/images/video_2.png);*/ width:300px; /*height:350px;*/ margin-top:10px;}
.div_image{float: left;
width: 404px;
height: 243px;
margin: 11px;}
.div_image_1{float: left;height: 325px;
    width: 275px;}
.div_image > a {
    height: 200px;
    width: 290px;
}
.div_image_1 > a {
    height: 225px;
    width: 200px;
}
.div_image img{ margin:4px; height: inherit;width: inherit}
.social_sec{ float:left; width:97%; margin-left:5px; height:auto; margin-top:18px;}
.socil_1{ float:left;height:auto; margin-right:16px;}
.icon_1{ float:left;}
.socil_2{ float:left;height:auto; margin-left:6px;} 
.arrw{ float:left; margin-left:-4px; margin-top:7px;}
.socil_3{ float:left; width:38px; height:18px; border:1px solid #c0c0c0; background-color:#ffffff; border-radius:2px; font-size:11px; font-family:Arial, Helvetica, sans-serif; text-align:center; color:#343434; line-height:20px;} 
.div_txtsec{ float:left; width:97%; margin-left:5px; height:auto;margin-top:20px; margin-bottom:20px;} 
.txt_sec1{ float:left; text-align:left; font-size:21.38px; font-family:Arial, Helvetica, sans-serif; color:#00a2ff; width:100%;} 
.txt_sec2{ float:left; text-align:left; font-size:11.66px; font-family:Arial, Helvetica, sans-serif; color:#ffffff; margin-top:15px; width:100%;} 
.div_right{ float:left; width:33%; margin-left:30px;}
#ltsnews .div_right{ float:left; width:48%; margin-left:30px;}
.middle_main{ float:left; height:auto;width:100%; height:1000px; overflow:hidden;}
.div_btm{ float:left; width:100%;border-bottom:1px solid #545454; margin-top:15px;} 
.slidr_mn{ float:right; width:7px; background-color:#FFF; height:200px;} 
.post_btn{width:60px; height:29px; font-size:14px; font-family:Arial, Helvetica, sans-serif; background-image:url(../img/images/img2.png); border-radius:4px; color:#ffffff;}
.paginatorwrap{margin-top:10px;}
.paginatorwrap span{padding:2px 7px; font-size:13px;font-family:Arial, Helvetica, sans-serif}
.paginatorwrap span a{font-size:13px;font-family:Arial, Helvetica, sans-serif}
.newspage{border-radius: 10px; -webkit-border-radius:10px; background: #8F0909;}
.paginatorwrap .current{background:#00a2ff;}
 /**************News detail Page***********/

.txt_area_sec{ float:left; width:100%; height:auto;margin-top:20px;} 
.div_head{ float:left; width:100%; font-size:22px; font-family:Arial, Helvetica, sans-serif; color:#00a2ff; text-align:left;} 
.area_1{ float:left; width:100%; height:auto; margin-top:13px;}
.area_1 textarea.area2{ float:left;  width:98%; height:93px; background-color:#858585; font-size:15px; font-family:Arial, Helvetica, sans-serif; padding-left:10px; color:#dbdbdb; padding-top:10px;} 
.btnn2 input.btnn5 {
float: left;
width: 166px;
height: 29px;
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
background-image: url(../img/images/img2.png);
border-radius: 4px;
cursor: pointer;
color: #ffffff;
} 

/**************Online shop product Page***********/
 .div_btm1{ float:left; width:100%;border-bottom:1px solid #545454; margin-top:15px; margin-bottom:22px;} 
 .image4{ float:left; width:259px; height:255px;background-image:url(../img/images/pic_bg.png)}
 .image4 img{ width:243px; height:239px; float:left; margin:8px; }
 .txt_descrptn{ float:right; width:157px; height:auto;margin-bottom:35px;}
 .heading1{ float:left; text-align:left; font-size:22px; color:#00a2ff; margin-top:5px; font-family:Arial, Helvetica, sans-serif; width:100%;}
 .txt_mid3{ float:left; text-align:left; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#ffffff; width:100%; margin-top:20px; line-height:16px;}
 .txt_mid4{ float:left; width:100%; height:auto; margin-top:20px;}
.txt_c{ float:left; text-align:left; font-size:15px; font-family:Arial, Helvetica, sans-serif; color:#00a2ff;} 
.txt_d{ float:right; font-weight:bold; text-align:left; font-size:15px; font-family:Arial, Helvetica, sans-serif; color:#00a2ff;} 
.btn_sec3{ float:left; width:100%; margin-top:20px; height:auto;}
.btn_sec3 input.buttn1{ float:left; width:111px; height:29px; border-radius:4px; border:0px; cursor:pointer; font-size:14.73px; font-family:Arial, Helvetica, sans-serif; color:#FFF; background-image:url(../img/images/btn_bg.png)} 
 
  /**************Online shop category Page***********/
.image5{ float:left; width:430px; height:299px;background-image:url(../img/images/pic_bg2.png); margin-bottom:39px;}
.image5 img{ width:411px; height:239px; float:left; margin:9px; }
.txt_btm{ float:left; text-align:left; margin-top:7px; font-size:22px; font-family:Arial, Helvetica, sans-serif; margin-left:11px;}
.txt_btm a{ color:#00a2ff;}

/**** purchage order *****/

.purchse { width:274px; height:auto; float:right; background:url(../img/images/yr_odr_bg.png) no-repeat; padding:8px; margin:10px 0px 10px 0px; }
.pur_hd { 
	width:94%; padding:3%; height:auto; float:left; color:#00A2FF; font-family:'28_days_laterregular'; font-size:16px; 
}
.pur_hd_lft { width:48%; padding:2% 1% 2% 1%; height:auto; float:left; color:#00A2FF; font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; line-height: 16px }
.pur_txt_rght { width:44%; padding:3%; height:auto; float:right; color:#00A2FF; font-family:Arial, Helvetica, sans-serif; font-size:13px; text-align:right; }
.pur_txt { width:94%; padding:4% 3% 4% 3%; height:auto; float:left; color:#fff; font-family:Arial, Helvetica, sans-serif; font-size:13px; }
.totl_txt { width:96%; height:auto; float:left; border-top:1px dashed #e2e2e2; border-bottom:1px dashed #e2e2e2; }
.totl_txt .pur_hd_lft { text-align:right; font-weight:normal;}
.totl_txt2 { width:97%; height:auto; float:left;}
.totl_txt2 .pur_hd_lft { text-align:right;}

 /**************Player Profile Page***********/
   
.plyr_div { width:100%; height:auto; float:left;} 
.plysrch_sec { min-width:248px; float:right; height:auto; }
.plyr_srch input[type='text'] { background-color: #858585;  color: #FFFFFF; float: left; font-family: Arial,Helvetica,sans-serif; font-size: 13px;  height: 26px;  padding: 2px 4px;  width: 200px; font-style:italic; }  
.plyr_btn input[type='submit']{background:url(../img/images/srch.png)no-repeat; float: left; height: 30px;  width: 33px; margin:0px 0px 0px 5px; cursor:pointer; }
.plawd_txt{ float:left; text-align:left; margin:10px 0px 5px 0px; font-size:20px; font-family:Arial, Helvetica, sans-serif; color:#00a2ff; }
.ply_hd{ float:left; width:100%; font-size:34px; font-family:'28_days_laterregular'; text-align:left; color:#ffffff; text-transform:uppercase; padding:0px 0px 12px 0px ;}
.pl_contain { width:100%; height:auto; float:left; padding:10px 0px 10px 0px; min-height:200px}
.plyrsec {width:262px; height:auto; float:left; margin:0px 65px 0px 0px;}
.pl_contain .plyrsec:last-child {margin:0px 0px 0px 0px; }
.plyr_bg { background:#3a3a3a; width:164px; height:164px; float:left; border:1px solid #6c6c6c; box-shadow:2px 2px 2px #000; padding:10px;} 
.plyr_img { width:100%; height:100%; float:left;}           
.plyr_info { float:left; margin:12px 0px 0px 0px; font-size:16px; font-family:Arial, Helvetica, sans-serif; color:#00a2ff; width:100%; }

#TeamregistrationCountry, #TeamregistrationBillCountry, #PlayerregistrationTeam{width:300px;}
.lawslink:hover{color:#f00!important;}
.textboxlink:hover{color:#f00!important;}
.flashsuccess{padding: 10px;margin: 0px 0px 10px 0px;background: #33bbdd;background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background: -moz-linear-gradient(top, #33bbdd 0%, #1177a8 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#33bbdd), color-stop(100%,#1177a8));background: -webkit-linear-gradient(top, #33bbdd 0%,#1177a8 100%);background: -o-linear-gradient(top, #33bbdd 0%,#1177a8 100%);background: -ms-linear-gradient(top, #33bbdd 0%,#1177a8 100%);background: linear-gradient(to bottom, #33bbdd 0%,#1177a8 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33bbdd', endColorstr='#1177a8',GradientType=0 );font-size: 15px;text-align: center;font-family: Arial, Helvetica, sans-serif;float: left;width: 100%;}
.flasherror {padding: 10px;margin: 0px 0px 10px 0px;background: #bd3333;background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background: -moz-linear-gradient(top, #bd3333 0%, #840000 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bd3333), color-stop(100%,#840000));background: -webkit-linear-gradient(top, #bd3333 0%,#840000 100%);background: -o-linear-gradient(top, #bd3333 0%,#840000 100%);background: -ms-linear-gradient(top, #bd3333 0%,#840000 100%);background: linear-gradient(to bottom, #bd3333 0%,#840000 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd3333', endColorstr='#840000',GradientType=0 );float: left;width: 100%;text-align: center;font-size: 15px;font-family: Arial, Helvetica, sans-serif;}

/******* payemnt step ***/
.payoptionswarp{width: 100%; margin-bottom:15px}
.payoptionswarp .payoption{width:31%; float: left; background: url('../img/images/titl_bg2.png') no-repeat; padding: 5px; margin-left: 10px; min-height: 150px;}
.payoption .payoptiontitle{padding: 10px 5px; margin: 0px; color: #00A2FF; font-family: '28_days_laterregular'; font-size: 18px; line-height: 24px;}
.payoptiontitle input{margin:0 10px 0 0;}
.payoption .payoptiondescription{font-family:Arial, Helvetica, sans-serif; font-size: 12px; text-align: justify; line-height: 17px; padding: 0px 2px}
.bankheading {}
.bankdetails{font-size: 18px; font-weight: bold; color: #ffe600; font-family:avantgarde_bk_btbook;padding:10px}
.bankdescription{font-size: 15px; line-height: 18px; font-weight: bold; font-family:avantgarde_bk_btbook; padding:10px}

/****sitemap*****/
.sitemap{margin:20px 0px 0px 20px;}
.sitemap ul{margin:0px 0px 0px 20px;}
.sitemap-wrap li{padding-left: 15px; background: url(../img/images/left-arrow.png) no-repeat top left;}

  /**************Players***********/
   
.div_plyr{ float:left; width:94%; height:auto; padding:2% 3% 4% 3%;  background:rgb(41, 41, 41); background:rgba(41, 41, 41, 0.9); border-top: 6px solid #393939;  }    
 .div_plyr .middle_main { height:1100px;} 
.plyrsec2 {width:162px; height:auto; float:left; margin:0px 18px 0px 0px;}
.pl_contain .plyrsec2:last-child {margin:0px 0px 0px 0px; }    
.plyr_bg2 { background:#3a3a3a; width:150px; height:150px; float:left; border:1px solid #6c6c6c; box-shadow:2px 2px 2px #000; padding:6px;} 
.plyr_info_txt { color: #B9B9B9; float: left; font-family: Arial,Helvetica,sans-serif; font-size: 12px; height: auto; line-height: 18px; padding:1% 0px;    width: 100%; }

.fshare{
	margin-left: 10px;
}
.addthis_toolbox a img{
	height: 20px;
}
.twitter-share-button{
	width:80px !important;
}


/****** new gallery ****/
 .gllry_area{ width:100%; height:auto; float:left; padding-bottom:10px;}
 .gllry_area ul { width:100%; height:auto; float:left;}
 
 .gllry_area ul li{ width:222px; height:190px; float:left; background-color:#FFF; border-radius:4px; margin-left: 16px; margin-bottom: 16px;}
 .gllry_area ul li:first-child, .gllry_area ul li:nth-child(5), .gllry_area ul li:nth-child(9){ margin-left:0px;}
 
 .gal_img{ width:100%; height:auto; float:left; text-align:center; margin-top:10px; margin-bottom:1px;}
 .gali_lik{ width:91%; height:auto; float:left; border:1px solid #cccccc; margin: 0px 10px 10px 10px; border-radius: 4px;}
 .likes_lnk{ width:65px; height:28px; float:left; border-left:1px solid #d5d5d5; border-right:1px solid #d5d5d5;background: #fefefe; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlN2U3ZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #fefefe 0%, #e7e7e7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#e7e7e7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fefefe 0%,#e7e7e7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fefefe 0%,#e7e7e7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fefefe 0%,#e7e7e7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fefefe 0%,#e7e7e7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-8 */
}
 .commnt_lnk{width:90px; height:28px; float:left; border-left:1px solid #d5d5d5; border-right:1px solid #d5d5d5;background: #fefefe; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlN2U3ZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #fefefe 0%, #e7e7e7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#e7e7e7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fefefe 0%,#e7e7e7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fefefe 0%,#e7e7e7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fefefe 0%,#e7e7e7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fefefe 0%,#e7e7e7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-8 */
}

.commnt_lnk:hover, .likes_lnk:hover{background: #fefefe; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2U3ZTdlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #fefefe 0%, #e7e7e7 47%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(47%,#e7e7e7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fefefe 0%,#e7e7e7 47%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fefefe 0%,#e7e7e7 47%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fefefe 0%,#e7e7e7 47%); /* IE10+ */
background: linear-gradient(to bottom,  #fefefe 0%,#e7e7e7 47%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-8 */
}
.commnt_lnk a, .likes_lnk a{ font-size:14px; color:#828282; font-family: Arial, Helvetica, sans-serif; padding: 6px 10px 6px 10px; line-height: 28px;}
.commant_no{ width:auto; height:auto; float:left; color:#03F; font-size:14px; font-family:Arial, Helvetica, sans-serif; margin: 0px 6px; line-height: 28px;}
 
 
 
#pop_bx{ width:780px; height:auto; margin:auto; background-color:#FFF; border:6px solid rgba( 0, 0, 0, .8);top: 200px; position:absolute; left: 0; right: 0;}
.img_pop{ width:95%; height:auto; margin:20px; float: left;}
.pop_dec{ width:95%; height:auto; margin:0px 20px 20px 20px; float: left;}
.pop_dec h1 { width:auto; height:auto; float:left; margin:auto; padding:0px; font-size:16px; color:#333;font-family: Arial, Helvetica, sans-serif;} 
.pop_dec p { width:auto; height:auto; float:left; margin:auto; padding:0px; font-size:14px; color:#333; margin-top:10px;font-family: Arial, Helvetica, sans-serif;}
.comnt_hdr{  width:95%; height:auto; margin:0px 20px 20px 20px; float: left;background-color:#ebebeb; border-radius:4px; text-indent:10px; color:#333; font-family:Arial, Helvetica, sans-serif; font-size:16px; padding:10px 0px 10px 0px;} 
.commntr{ width:95%; height:auto; margin:0px 20px 20px 20px; float: left;}
.commntr span{ width:100%; height:auto; float: left;color:#333; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold;}
.commntr textarea{background-color: #EDEDED;
    float: left;
    height: 60px;
    margin-left: 40px;
    margin-top: 10px;
    width: 79%;}
.commntr input[type="button"]{ width:60px; height:30px; float:left; background-color:#10b2ef; border:1px solid #0e88b5; color:#FFF;border-radius: 4px;font-size: 12px; cursor:pointer;}
.commntr input[type="button"]:hover { background-color:#09F; color:#666;}
.comnt_btn{ float: left;
    height: auto;
    margin-left: 30px;
    margin-top: 24px;
    width: 4%;}



.mid_tp { width:100%; height:auto; float:left;  margin:15px 0px 0px 0px;  }
.mid_main{ float:left;height:auto;width: inherit}
.div_tdetail{ float:left; width:98%; height:auto; margin-top: 20px;  padding:1% 1% 8% 1%;  background:rgb(41, 41, 41); background:rgba(41, 41, 41, 0.8); border-top: 6px solid #393939;  }
.sposr_aea{ width:100%; height:auto; float:left;}
.sposr_aea h1 {
float: left;
width: 100%;
font-size: 34px;
font-family: '28_days_laterregular';
text-align: left;
color: #ffffff;
text-transform: uppercase;
font-weight: normal;
margin:auto auto 20px auto;	
}
.sposr_box{ width:100%; height:auto; float:left;}
.compny_info{ width:100%; height:auto; float:left; margin-bottom:30px;}
.compny_log{ width:auto; height:auto; float:left;} 
.compny_rit_prt{ width:600px; height:auto; float:left; margin-left: 30px;}
.compny_titl{ width:100%; height:auto; float:left;font-size: 24px;
font-family: '28_days_laterregular';
text-align: left;
color: #ffffff;}
.compny_detal{ width:100%; height:auto; float:left;font-size: 15px;
margin-bottom: 10px;
text-align: left;
font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
color: #ffffff;} 
.compny_lnk{ width:100%; height:auto; float:left;font-size: 20px;
font-family: '28_days_laterregular';
text-align: left;
}
 
.compny_lnk a{color: #1976bc;font-family: '28_days_laterregular';} 
.hd_soc_media { width:auto; height:auto; margin:10px auto; width: 270px }
.hd_soc_media li { width:auto; height:auto; float:left; margin:0px 5px 0px 5px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#fff; }

